.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.text-blue{
   color: rgb(2, 2, 197);
}

.card:hover {
  transform: translateY(-5px);
  transition: 0.3s ease;
  box-shadow: 0 5px 20px rgba(221, 9, 9, 0.1);
}

.customcard{
  border-bottom: 2px solid rgb(1, 1, 104);
  background-color: #fbfdfd;
}

.customcard h3{
  color: rgb(1, 1, 104);
}

.customcard:hover {
  transform: translateY(-10px);
  transition: 0.3s ease;
  box-shadow: 0 5px 20px rgba(12, 12, 12, 0.1);
  background-color: rgb(1, 1, 104);
  color:white;
}

.customcard:hover h3{
  color:white;
}

.customcard:hover span{
  transform: translateX(15px);
  transition: 0.5s ease;
}

.helCard{
  border: 1px solid rgb(1, 1, 104);
}

.helCard h3{
  color: rgb(1, 1, 104);
}

.helCard h2{
  color: rgb(3, 245, 193);
  font-size: 2rem;
}

.heaul{
  color: #ebf5b2;
} 

.helCard:hover {
  box-shadow: 0 5px 20px rgba(12, 12, 12, 0.1);
  background-color: rgb(1, 1, 104);
  color:white;
}
.helCard:hover h3{
  color:white;
}

.helCard:hover h2{
  color:rgb(242, 4, 250);
}

.helCard:hover .heaul{
  color:white;
}




